**/environments
**/.idea
**/rlpack.egg-info
**.egg-info
CartPoleSwingUpDiscrete-v0performance.png
testing.py
**/__pycache__
**/.ipynb_checkpoints
**/rlpack/__pycache__
**/.vscode
**/.DS_Store
**/saved_models
**/flare_runs
**/.idea
**/.mypy_cache